@import url(styles/header.css);

:root{
    background-color: #ebecee;
    --branco: #B63C3C;
    --azul:#216e6e;
    --meioazul:#ceabf3;
}

body{
    background-color: var(background-color);
}
.imagem-logo{
    width: 65px;
    height: 65px;
}
