@import url(styles/header.css);

:root{
    background-color: #ebecee;
    --branco: #FFFFFF; 
}
body{
    background-color: var(background-color);
}
.imagem-logo{
    width: 48px;
    height: 48px;
}
