.cabecalho{
    display: flex;
justify-content: space-between;
position: relative;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteinert{
    display: flex;
    align-items: center;
}
.conteimer_imagem{
    padding: 1em;
}