.topicos{
    background: var(--marrom);
    text-align: center;
}
.topicos__titulo{
    color: var(--azul);
    font-weight: 700;
    font-size: 24px;
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
