.topicos{
    background: var(--marrom);
    text-align: center;
    padding: 1em 0;
}
.topicos__titulo{
    color: var(--azul);
    font-weight: 700;
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 24px;
    margin-bottom: 1em;
>>>>>>> 4032ba44037c88c270f35b43622675b1e2368c8c
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__link{
    color: var(--claro);
    padding: 1em;
    background-color: var(--branco);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.topicos__item{
    margin: 2em 0.5em;
}