.topicos{
    background: var(--marrom);
    text-align: center;
}
.topicos__titulo{
    color: var(--azul);
    font-weight: 300;
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
}